@charset "UTF-8";

body{
    background-image: url(imagens/pattern001.png);
}

div.quadrado {
    border: 1px solid black;
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 4px;
    background-color: lightgray;
}
#q1 {
    background-color: skyblue;
}
#q2 {
    background-image: linear-gradient(to top, yellow , black, red);
}
#q3 {
    background-image: url(imagens/pattern003.png);
}